@import "base";

svg * {
  fill: none;
  stroke: currentColor;
}

.page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1000;
}

#hi-there {
  width: 100%;
  height: 40%;
  stroke-width: 2;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.intro-links {
  text-align: right;
}

.example-description {
  margin-left: 440px;
}

.timing-description {
  min-height: 200px;
  margin-right: 240px;
}

.h1_top {
  font-size: 2.8vw;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 900;
  line-height: 1;
  letter-spacing: 4px;
  span {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    background: #fff;
    margin-left: 20px;
  }
  @media only screen and (max-width: 767px) {
    top: 41%;
  }
}

#main-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  li {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.45);
      top: 0;
      left: 0;
      z-index: 500;
      position: absolute;
    }
  }
  .warpText {
    font-size: 2vw;
    position: absolute;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 550;
    width: 100%;
    text-align: center;
    display: flex;
  }
  .web_desc {
    overflow: hidden;
    display: inline-block;
    letter-spacing: 4px;
    margin: 0 8px;
  }
  .innerText,
  .innerText2 {
    opacity: 0;
    display: inline-block;
  }
}

header {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0 20px;
  width: 100%;
  z-index: 990;
  .logo {
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
  }
  img {
    height: 60px;
  }
  .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #2a2b2f;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    left: 28px;
  }
}

.hamburger {
  position: absolute;
  z-index: 995;
  right: 20px;
  top: 25px;
}

@-webkit-keyframes tung {
  0% {
    top: 35px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 35px;
  }
}

@keyframes tung {
  0% {
    top: 35px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 35px;
  }
}

.naviBar {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: #000;
  z-index: 990;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  opacity: 0;
  ul {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    li {
      opacity: 0;
      a {
        color: #fff;
        font-size: 3.2vw;
        font-weight: 700;
        letter-spacing: 5px;
      }
      margin: 1rem 0;
    }
  }
  &.active {
    right: 0;
    opacity: 1;
  }
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  padding: 0 20px;
  font-size: 12px;
  ul li {
    margin-right: 20px;
  }
  a {
    color: #fff;
    line-height: 1;
    span {
      font-size: 12px;
      display: inline-block;
      width: 0;
    }
  }
  #phone a {
    font-size: 17px;
  }
}

.mainContent {
  position: absolute;
  width: 80%;
  max-height: 70vh;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  h2 {
    opacity: 0.2;
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: 700;
  }
  .textAbout {
    text-align: justify;
    line-height: 1.8;
    width: 55%;
  }
}

#works {
  .mainContent {
    .textAbout {
      width: 100%;
    }
    .descPage {
      width: 65%;
    }
    h2 {
      line-height: 1;
    }
  }
}

#about {
  .mainContent {
    overflow: hidden;
    h2 {
      opacity: 0.4;
      text-align: right;
      line-height: 1.3;
    }
    video {
      opacity: 0.5;
      width: 50%;
      height: 100%;
      margin-top: -8%;
      pointer-events: none;
    }
    .textAbout {
      position: absolute;
      right: 0;
      top: 30px;
    }
  }
}

#document {
  .mainContent {
    overflow: hidden;
  }
  .textAbout {
    width: 40%;
  }
  h2 {
    font-size: 5vw;
  }
}

.lstDoc {
  width: 55%;
  max-height: 40.5vh;
  overflow-y: auto;
  li {
    border-bottom: 1px solid #424242;
    padding: 25px 0;
    &:first-child {
      padding-top: 0;
    }
    a {
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

#search_form {
  margin-top: 15px;
  position: relative;
  #tags {
    background: transparent;
    border: 1px solid #424242;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    outline: none;
    padding: 10px;
  }
  #btnSubmit {
    position: absolute;
    right: 0;
    top: 2px;
    background: transparent;
    height: 36px;
    width: 36px;
    outline: none;
    border: none;
    opacity: 0.7;
    background: url("https://teddycoder.com/assets/img/other/ico_loop.svg")
      no-repeat center center;
    background-size: 30px 30px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #424242;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

.articleDoc {
  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.backBtn {
  color: #fff !important;
  font-size: 15px;
  margin-top: 30px;
  display: block;
  text-decoration: underline !important;
}

.listWorks {
  li {
    position: relative;
    outline: none;
    overflow: hidden;
  }
  &__thumb {
    text-align: right;
    img {
      display: inline-block !important;
      width: 60%;
    }
  }
  &__desc {
    position: absolute;
    top: 20%;
    left: 0;
    text-shadow: 0px 0px 1px rgba(7, 7, 10, 0.8);
    width: 40%;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    a {
      color: #fff !important;
      font-size: 22px;
    }
  }
  &__detail {
    opacity: 0;
  }
  &__border {
    height: 4px;
    margin: 10px 0;
    position: relative;
    background: #fff;
    left: -120px;
    opacity: 0;
  }
  &__link {
    background: #000;
    color: #fff !important;
    display: block;
    padding: 10px 20px 10px 100px;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 10%;
    text-transform: uppercase;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    &::before {
      content: "";
      width: 40%;
      height: 1px;
      background: #fff;
      top: 50%;
      left: 0;
      position: absolute;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -webkit-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
    }
    &::after {
      content: "";
      width: 48%;
      height: 1px;
      background: #000;
      top: 50%;
      left: -48%;
      position: absolute;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -webkit-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
    }
    &:hover {
      &::before {
        width: 44%;
      }
      &::after {
        left: -44%;
        width: 44%;
      }
    }
  }
}

.formBlock {
  position: relative;
  margin-bottom: 30px;
  label {
    position: absolute;
    font-size: 13px;
    top: 12px;
    left: 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
  }
}

.inputForm {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  height: 40px;
  outline: none;
  color: #fff;
  font-family: "Maven Pro", sans-serif;
}

.textareaForm {
  height: 150px;
  padding-top: 5px;
}

.formContact {
  width: 55%;
}

#contact {
  .textAbout {
    width: 40%;
  }
  h2 {
    font-size: 3.5vw;
  }
}

.submitBtn {
  border: none;
  background: #3f3f3f;
  font-size: 15px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-family: "Maven Pro", sans-serif;
  display: inline-block;
  padding: 10px 20px;
}

.zoom-out {
  top: -15px !important;
  font-size: 12px !important;
}

.longContent {
  overflow-y: auto !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #teddy_slide {
    li {
      img {
        height: 100vh;
        max-width: inherit;
        margin-left: -30%;
      }
    }
    .warpText {
      font-size: 3vw;
    }
  }
}

@media only screen and (max-width: 767px) {
  .h1_top {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }
  #teddy_slide {
    li {
      img {
        height: 100vh;
        max-width: inherit;
        margin-left: -55%;
      }
    }
    .warpText {
      font-size: 4vw;
      flex-wrap: wrap;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .naviBar ul li a {
    font-size: 5vw;
  }
  .mainContent {
    width: 100%;
    padding: 0 10px;
  }
  #about {
    .mainContent {
      max-height: 80vh;
      video {
        width: 100%;
        opacity: 0.25;
      }
      .textAbout {
        width: 100%;
        padding: 0 15px;
      }
    }
    h2 {
      font-size: 8vw;
    }
  }
  #document {
    .textAbout,
    .lstDoc {
      width: 100%;
    }
    .lstDoc {
      li {
        padding: 10px 0;
        a {
          font-size: 14px;
        }
      }
    }
    .flexBox {
      flex-wrap: wrap;
    }
  }
  .hamburger {
    padding: 5px 0;
  }
  header {
    padding: 0 10px;
  }
  .listWorks {
    a {
      font-size: 18px;
    }
    &__thumb {
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__desc {
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      padding: 10px 10px 10px 0;
      position: relative;
    }
    &__link {
      top: 0;
      bottom: inherit !important;
    }
  }
  #contact {
    .flexBox {
      flex-wrap: wrap;
    }
    .textAbout,
    .formContact {
      width: 100%;
    }
    .textareaForm {
      height: 100px;
    }
  }
  #works {
    button.slick-next {
      bottom: -50px;
      right: 0;
      left: inherit;
    }
    button.slick-prev {
      bottom: -50px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
}
