$space_tiny: 10px;
$space_small: 15px;
$space_normal: 20px;
$space_normal_half: 25px;
$space_mid: 30px;
$space_mid_half: 35px;
$space_large: 40px;
$space_large_half: 44px;
$space_sLarge: 50px;

$primary_cl: #35683c;
